.footer {
    background-color: rgb(65, 62, 62);
}

.contact-us,
.google-map,
.developed-by {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin: 10px;
    /* color: black; */
    
}

.developed-by {
    align-self: center;
    color: white;
}