
.navbar-brand {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 80px !important;
    max-width: 100% !important;
    background-image: url("../assets/news.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}


.navbar-brand {
    margin-right: 20px;

}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    border-radius: 20px;
}

.form-inline input[type="search"] {
    width: 200px;
}









