/* NavBar */
nav .nav-link {
    color: white;
}

nav .nav-link:hover {
    color: white;
    font-weight: 500;
}

nav .active {
    font-weight: 500;
}


/* Footer */
footer .footer-link:hover {
    font-weight: 500;
}

